@import 'mixins/mediaQuery';
@import 'mixins/list';
@import 'mixins/reset';

$font-family-base: "Helvetica Neue",Helvetica,Arial;
$font-family-sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size-base: 0.875rem;
$h3-font-size: 24px;

@import '~bootstrap';
@import '~bootstrap-vue/src/variables';
@import '~bootstrap-vue/src/components/tooltip/index';

@import 'fa/fa';

@import 'layout/layout';
@import 'layout/views/index';
@import 'layout/views/buildList';
@import 'layout/table';
@import 'layout/dda';