html, body {
	height: 100%;
}

.marginTop {
	margin-top: 15px;
}

.pointer {
	cursor: pointer;
}

.badge-beta {
	position: absolute;
	left: 20px;
	top: 10px;
}

@media (min-width: 768px) {
	.badge-beta {
		top: 0;
		left: 0;
		font-size: 60%;
	}
}

.inlineList {
	@include inlineList;
}

.box128 {
	display: flex;

	> :last-child {
		flex: 1 1 auto;
		overflow: hidden;
	}
}

section {
	margin-bottom: 60px;
}

#pageContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
}

#main {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
	margin-bottom: 0;
	border-radius: 0;
}
