.ddmap, .tower-container img {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.ddmap {
	width: 1024px;
	height: 1024px;
}

.marginTop {
	margin-top: 15px;
}

.build-description-container img {
	width: 100%;
}

.tower-container {
	position: relative;
	display: inline-block;
}

.tower {
	width: 35px;
	height: 35px;
}

/* traps */
.tower-container[data-class="3"].ui-draggable-dragging img.tower,
.canvas .tower-container[data-class="3"] img.tower {
	width: 45px;
	height: 45px;
	line-height: 45px;
}

/* monk aura */
.tower-container[data-class="4"].ui-draggable-dragging img.tower,
.canvas .tower-container[data-class="4"] img.tower {
	width: 100px;
	height: 100px;
	line-height: 100px;
	opacity: 0.8;
}

.tower-container .menu {
	display: none;
	height: 20px;
	z-index: 20;
	cursor: pointer;
	position: absolute;
	top: -20px;
	left: 11px;
	transition: 0.2s 1s;
}

.canvas .tower-container:hover .menu,
.menu:hover {
	display: block;
	transition-delay: 0s;
}

.pointer {
	cursor: pointer;
}

.tower-container {
	cursor: pointer;
}

#towerControlPanel .tower-container.notEnoughDU {
	opacity: 0.5;
	cursor: not-allowed;
}

.disableTowerCheckbox {
	width: 48px;
	height: 48px;
	line-height: 64px;
	cursor: pointer;
}

.disableTowerCheckbox.disabled {
	opacity: 0.2;
}

.panel-shadow {
	border: 1px solid #dddddd;
	box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
	padding: 15px;
}

.loadingSpinner {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #2c3e50;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
	left: 50%;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 200px;
	transform: translateX(-50%);
	transition: visibility 0s linear 0.12s, opacity 0.12s linear;
	z-index: 401;
}

.loadingSpinner > span:not(.fa) {
	display: block;
	margin-top: 5px;
}

.pageBackdrop {
	background-color: rgba(0, 0, 0, .4);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 395;
}

section {
	margin-bottom: 60px;
}

body.tplIndex section {
	padding: 0;
}

body {
	padding-top: 70px;
}

body.tplIndex {
	padding-top: 50px;
}

.contact-first-box {
	padding: 35px;
	background: #9C0;
}

.contact-second-box {
	padding: 35px;
	background: #39F;
}

.contact-third-box {
	padding: 35px;
	background: #F66;
}

.contact-fourth-box {
	padding: 35px;
	background: #6CC;
}

#toTop-right {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	outline: none;
}

.notificationBell > a {
	position: relative;
}

.notificationBell .badge {
	padding: 1px 4px;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #d9534f;
}

dl dt:not(:first-of-type) {
	margin-top: 20px;
}

dl dd .alert {
	padding: 5px;
	margin-top: 5px;
}

.tplChangelog ul {
	list-style: none;
	padding: 0;
}

.table th.ASC > a::after,
.table th.DESC > a::after {
	display: inline-block;
	font-family: FontAwesome;
	margin-left: 5px;
}

.table th.ASC > a::after {
	content: "\f0d8";
}

.table th.DESC > a::after {
	content: "\f0d7";
}

.navbar-footer {
	margin-bottom: 0;
}

html, body {
	height: 100%;
}

#pageContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
}

#main {
	flex: 1 0 auto;
}

#footer {
	flex: 0 0 auto;
}

.dummy:not(.ui-draggable-dragging) {
	padding: 2px;
}